$fg: #bfc9db;
$ember_orange: #FF5733;
$red: #d78787;
$green: #afbea2;

.time {
  font-family: Iosevka Nerd Font;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #13141c; 
  color: $fg;
  border-radius: 5px;
  padding: .9rem 0 .5rem 0;
  margin: .5rem 0 .5rem 0;
  padding-top: .9rem;
  padding-right: .5rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
}

.void {
  font-size: 2.0em;
	color: $ember_orange;
	margin: 10px;
    padding-right: 6px;
}

.quit {
  font-size: 1.5em;
  color: $ember_orange;
  margin: -5px;
  padding-right: 3px;
}
